# Django
*.log
local_settings.py
# db.sqlite3
# db.sqlite3-journal
# media/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
ENV/
.env
.venv
