<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/artist_change_password">change password</a><br>
<a href="/view_profile_and_update">view_profile_and_update</a><br>
<a href="/view_design">view design</a><br>
<a href="/view_shedule">view schedule</a><br>
<a href="/view_booking">view booking</a><br>
<a href="/view_payment_details">view payment details</a><br>
<a href="/view_product">view product</a><br>
<a href="/view_other_work_and_like">view other work and like </a><br>
<a href="/view_post">view post</a><br>




</body>
</html>

